.nft--name {
    font-size: 5px;

}

.staking--page {
    width: 100vw;
    height: 100vh;
}

.staking--nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 10px;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 20px;

    @media(max-width: 64em) {
        .desktop {
            display: none;
        }

        .mobile {
            display: inline-block;
        }
    }
}

.staking-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.staking-listitems {
    margin: 0 1rem;
    color: white;
    cursor: pointer;

}

.staking--btn {
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 20px;
    margin: 10px 0px;
    cursor: pointer;
}